.DS_Store
/.idea/
/_dev/
/bin/lara*
/bin/readme.md
/bootstrap/cache/*
/config/lara.php
/config/lara-*
/mods/*
/laracms/core/*
/laracms/themes/*
/node_modules/
/public/assets/
/public/css/
/public/fonts/
/public/js/
/public/storage/
/resources/lang/vendor/lara-*
/resources/views/vendor/lara-*
/storage/app/analytics/*
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/httpcache/*
/storage/imgcache/*
/storage/logs/*
/tests/
/vendor/
/*.sh
/.env
/.env.plesk
!.gitkeep
